
body{
    margin-left: 20px;
}
.chat{
    background-color: aqua;
    padding: 20px; 
    border-radius: 16px;
    display: inline-block;
}
.message{
    background-color: cornflowerblue;
    color: antiquewhite;
    border-radius: 16px;

    padding: 5px 15px;
} 