div{
    color: rgb(11, 204, 140);
    width: 500px;
    height: 200px;
    border-color: #abcdef;
    border-style: dashed;
    border-width: 20px;
    border-radius: 23px;
    background-color: blanchedalmond;
    padding-left: 25px;
    padding-right: 25px;
    margin: 25px;
}
h1{
    border-width: 20px;
    border-style: ridge;
    border-color: beige;
    /* or */
   border: 4px dashed beige;
}
button{
    border: 25px dashed blue;
    padding: 25px;
}